---
import Main from "layouts/Main.astro"
import { type Collection, collections } from "data/collections"

const { games } = collections
---

<Main title="game collections" description="collections">
    <h1>Games</h1>
    <img src="/images/carx_tandem.png" loading="lazy" alt="" width={300} height={533} />
    <p>
        I used to cruise in <a href="https://carx-online.com/" target="_blank" rel="noreferrer noopener">CarX Drift Racing Online</a> back when I still use my old laptop, since this game is the closest substitution to sim games like <a href="https://assettocorsa.gg/" target="_blank" rel="noreferrer noopener">Assetto Corsa</a> that can run <i>almost</i> smoothly on my current laptop at the time, though I need to set the graphics to the lowest.
    </p>
    <p>
        This is essentially how scuffed I could be, and how I desperately love cars. Based on the image above, I don't even render smokes.
    </p>
    <ul style={{ columnCount: 2 }} >
        {games.map((game: Collection) => (
            <li>
                <a href={game.url} target="_blank" rel="noreferrer noopener">
                    {game.name}
                </a>
            </li>
        ))}
    </ul>

</Main>
