---
import Main from "layouts/Main.astro"
import { type Collection, collections } from "data/collections"
import { isSeperator } from "data/collections/utils"

const { songs } = collections
---

<Main title="music collections" description="collections">
    <h1>Banger Certified Playlist</h1>

    <ul>
        {songs.map((song: Collection) => isSeperator(song) ? (
            <br />
        ) : (
            <li>
                <a href={song.url} target="_blank" rel="noreferrer noopener">
                    {song.name}
                </a>
            </li>
        ))}
    </ul>
</Main>
