---
import "../../styles/pages/articles.styl"
import Main from "../../layouts/Main.astro"
import { getCollection } from "astro:content"

const articles = await getCollection("articles")
---

<Main title="Articles" description="article page">
    <h1>articles</h1>
    <ul class="article--list">
        {articles.map((article) => (
            <li>
                <a href={`/articles/${article.slug}/`}>{article.data.title}</a>
                <p>{article.data.description}</p>
            </li>
        ))}
    </ul>
</Main>