---
import "styles/pages/posts.styl"
import { CollectionEntry, getCollection } from "astro:content"
import Main from "layouts/Main.astro"

export async function getStaticPaths() {
	const posts = await getCollection("posts")
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}))
}
type Props = CollectionEntry<"posts">

const post = Astro.props
const { Content } = await post.render()
---

<Main {...post.data}>
    <h1>{post.data.title}</h1>
	<Content />
</Main>
