.list-project-item
    display flex
    align-items center
    justify-content space-between


.list-project-item > *
    display flex
    align-items center

.list-project-item--left > *
    margin-right 14px

.list-project-item--left div
    display flex
    align-items center
    justify-content center

    font-size 12.5px
    height 100%

.list-project-item--left div > *
    margin-right 6px

.list-project-item--left div > svg
    margin-right 9px