---
import Main from "layouts/Main.astro";
import { type Collection, collections } from "data/collections"
---

<Main title="collections" description="collections">
    <h1>collections</h1>
    <p>
        These collections is meant to give out a taste of my old gems. It is not a complete list, I might forget some memories. This is essentially my journey, back when i was a kid, or, at most, a teenager.
    </p>

    <h2>games</h2>
    <img src="images/carx_tandem.png" loading="lazy" alt="" width={300} height={533} />

    <p>
        I used to cruise in <a href="https://carx-online.com/" target="_blank" rel="noreferrer noopener">CarX Drift Racing Online</a> back when I still use my old laptop, since this game is the closest substitution to sim games like <a href="https://assettocorsa.gg/" target="_blank" rel="noreferrer noopener">Assetto Corsa</a> that can run <i>almost</i> smoothly on my current laptop at the time, though I need to set the graphics to the lowest.
    </p>

    <p>
        This is essentially how scuffed I could be, and how I desperately love cars. Based on the image above, I don't even render smokes.
    </p>

    <ul style={{ columnCount: 2 }} >
        {collections.games.map((game: Collection) => (
            <li>
                <a href={game.url} target="_blank" rel="noreferrer noopener">
                    {game.name}
                </a>
            </li>
        ))}
    </ul>

    <h2>movies</h2>
    <ul style={{ columnCount: 2 }} >
        {collections.movies.map((movie: Collection) => (
            <li>
                <a href={movie.url} target="_blank" rel="noreferrer noopener">
                    {movie.name}
                </a>
            </li>
        ))}
    </ul>
    <small>7/18/2023:</small>
    <p>
        Just finished Made in Abyss Season 1, I really really recommend you to watch it. One of the best executed anime along with Samurai Champloo and Spirited Away.
    </p>
    <p>
        The opening, style, story, ending, eveything is great about this anime, highly recommend.
    </p>
</Main>