---
import Main from "layouts/Main.astro"
import { type Collection, collections } from "data/collections"

// TODO: extend with infinite arguments
const joinURL = (url1: string, url2: string): string => {
    if (!url1.endsWith("/"))
        url1 += "/"
    
    return url1 + url2
}

---

<Main title="collections" description="collections">
    <h1>Collections</h1>
    <p>
        These collections is meant to give out a taste of my old gems. It is not a complete list, I might forget some memories. This is essentially my journey, back when i was a kid, or, at most, a teenager.
    </p>
    <p>
        If you are bored or something like that, I hope this list can help you to find temporary happiness or even better. Anyway, here are the collections:
    </p>
    <ul>
        {Object.entries(collections).map((collection: [string, Collection[]]) => (
            <li>
                <a href={joinURL(Astro.url.href, collection[0])}>
                    {collection[0]}
                </a>
            </li>
        ))}
    </ul>
</Main>
