body {
    font-family: serif;
}

#__next {
    max-width: 730px;
    padding: 10px 40px 10px 40px;
}

.banner-wrapper {
    a {
        border: none;

        * {
            width: 88px;
            height: 31px;
            margin: 4px 8px 4px 0;
        }
    }
}

p {
    text-align: justify;
}

pre {
    overflow: auto;
}

li {
    padding: .15em 0;

    > p {
        margin: 0;
    }
}

/* for unconsistent p tag */ 
ul > li > ul {
    padding-top: .15em;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.no-padding {
    padding: 0;
}
