@require "_h"

color__black = #111010
color__black__secondary = #1c1c1c
color__white = white
color__gray = #cccccc


body
    background-color color__black
    color color__white

    font-family 'DM Sans', sans-serif

    max-width 660px
    padding 0 15px
    margin 30px auto

a
    color color__white
    text-decoration-color #525252

p, small
    color color__gray
    line-height 25px

/* stand alone code with 
 * no pre as parent
 */
code:not([class])
    color #d3d3d3
    font-weight bold
    padding 2px 4px
    background-color color__black__secondary
    border 1px solid #242424
    border-radius 5px

code:not([class])::before,
code:not([class])::after
    content '`'

img 
    height auto
    max-width 100%