@require "_h"

color--black = #111010
color--white = white
color--gray = #cccccc


body
    font-family "Times New Roman", Times, serif

    background-color color--black
    color color--white
    font-family Arial, sans-serif

    max-width 720px
    padding 0 15px
    margin 30px auto

a
    color color--white
    text-decoration-color #525252

p
    color color--gray
    line-height 22px

img 
    height auto
    max-width 100%