.title {
    text-align: center;
}

.sidelink {
    font-size: 10px;
}

.blobfish-img{
    width: 160px;
}

#__next {
    max-width: 530px;
    margin: 2em auto;
}

.banner-wrapper {
    a {
        border: none;

        * {
            width: 88px;
            height: 31px;
            margin: 4px 8px 4px 0;
        }
    }
}

aside {
    float: right;
    padding-left: 10px;
}

pre {
    overflow: auto;
}

p {
    text-align: justify;
}

li {
    padding: .25em 0;

    > p {
        margin: 0;
    }
}

/* for unconsistent p tag */ 
ul > li > ul {
    padding-top: .25em;
}

.sidenote > p {
    margin: 6px 0 0 0;
}

.no-padding {
    padding: 0;
}

// ugly but works for now
@media only screen and (max-width: 496px)  {
    .blobfish-img {
        width: 130px;
    }
}