.sidelink {
    font-size: 10px;
}

.blobfish-img {
    width: 160px;
}

body {
    margin: 0 40px;
}

#__next {
    margin: 10px auto;
    max-width: 1920px;
}

.banner-wrapper {
    a {
        border: none;

        * {
            width: 88px;
            height: 31px;
            margin: 4px 8px 4px 0;
        }
    }
}

.sidenote > p {
    margin: 6px 0 0 0;
}

.no-padding {
    padding: 0;
}

// ugly but works for now
@media only screen and (max-width: 496px)  {
    .blobfish-img {
        width: 130px;
    }
}