:root {
    /* font families */
    --ffam-heading: "DM Serif Display";
    --ffam-heading-p: "PT Serif";
    --ffam-main: "Roboto";
    
    /* colors */
    --color-primary: #1A2E4A;
    --color-primary-dull: #233958;
    --color-secondary: #DCA519;

    --color-text-primary: #ffffff;
    --color-text-secondary: #DFDFDF;

    --color-text-main: #585858;
}

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}


*::selection {
    background-color: var(--color-secondary);
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ffam-heading);
}

p {
    font-family: var(--ffam-main);
    color: var(--color-text-main);
    line-height: 30px;
    font-weight: 400;
}

main a {
    color: var(--color-primary);
}

.sidebar-container h1 {
    font-size: 26px;
    color: var(--color-text-main);
    border-bottom: 1px solid var(--color-text-secondary);
}

.sidebar-container > *,
article > * {
    margin-bottom: 16px;
}

.highlighted-text {
    color: var(--color-secondary);
}

.headline-wrapper {
    background-color: var(--color-primary);
    color: var(--color-text-primary);
}

.headline-wrapper > .headline-container > p > a {
    color: var(--color-secondary);
}

.headline-container > h1 > a {
    color: var(--color-text-primary);
    text-decoration: none;
}

.headline-wrapper > .headline-container,
.main-wrapper {
    max-width: 1250px;
    margin: auto;
    padding: 80px 30px;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-container {
    max-width: 58%;
    min-width: 58%;
}

.sidebar-container {
    padding-left: 50px;
}

.headline-wrapper > .headline-container > h1 {
    font-size: 36px;
}

.headline-wrapper > .headline-container > p {
    font-size: 22px;
    font-family: var(--ffam-heading-p);
    color: var(--color-text-secondary);
    
    max-width: 54%;
    margin-top: 6px;
    margin-bottom: 34px;
}

button {
    border: none;
    cursor: pointer;
    padding: 15px 20px;
 
    font-family: var(--ffam-heading);
    font-size: 16px;
    font-weight: 700;

    letter-spacing: .5px;

    color: var(--color-text-primary);
    background-color: var(--color-primary-dull);
}

.article-title {
    font-size: 32px;
    margin-bottom: 13px;
    border-bottom: 1px solid var(--color-text-secondary);
}

article h3 {
    font-size: 26px;
    margin-bottom: 2px;
}

@media only screen and (max-width: 780px) {
    .main-wrapper {
        display: block;
    }

    .main-container {
        max-width: none;
        width: 100%;
    }

    .sidebar-container {
        padding: 0;
    }
}