@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100;
  src: local("JetBrains Mono NL Thin"), local("JetBrainsMono-Thin"), url("../../assets/fonts/JetBrainsMonoNL/JetBrainsMonoNL-Thin.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 100;
  src: local("JetBrains Mono NL Thin Italic"), local("JetBrainsMono-ThinItalic"), url("../../assets/fonts/JetBrainsMonoNL/JetBrainsMonoNL-ThinItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 200;
  src: local("JetBrains Mono NL ExtraLight"), local("JetBrainsMono-ExtraLight"), url("../../assets/fonts/JetBrainsMonoNL/JetBrainsMonoNL-ExtraLight.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 200;
  src: local("JetBrains Mono NL ExtraLight Italic"), local("JetBrainsMono-ExtraLightItalic"), url("../../assets/fonts/JetBrainsMonoNL/JetBrainsMonoNL-ExtraLightItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  src: local("JetBrains Mono NL Light"), local("JetBrainsMono-Light"), url("../../assets/fonts/JetBrainsMonoNL/JetBrainsMonoNL-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 300;
  src: local("JetBrains Mono NL Light Italic"), local("JetBrainsMono-LightItalic"), url("../../assets/fonts/JetBrainsMonoNL/JetBrainsMonoNL-LightItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: local("JetBrains Mono NL Regular"), local("JetBrainsMono-Regular"), url("../../assets/fonts/JetBrainsMonoNL/JetBrainsMonoNL-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  src: local("JetBrains Mono NL Italic"), local("JetBrainsMono-Italic"), url("../../assets/fonts/JetBrainsMonoNL/JetBrainsMonoNL-Italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src: local("JetBrains Mono NL Medium"), local("JetBrainsMono-Medium"), url("../../assets/fonts/JetBrainsMonoNL/JetBrainsMonoNL-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 500;
  src: local("JetBrains Mono NL Medium Italic"), local("JetBrainsMono-MediumItalic"), url("../../assets/fonts/JetBrainsMonoNL/JetBrainsMonoNL-MediumItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: local("JetBrains Mono NL Bold"), local("JetBrainsMono-Bold"), url("../../assets/fonts/JetBrainsMonoNL/JetBrainsMonoNL-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  src: local("JetBrains Mono NL Bold Italic"), local("JetBrainsMono-BoldItalic"), url("../../assets/fonts/JetBrainsMonoNL/JetBrainsMonoNL-BoldItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  src: local("JetBrains Mono NL ExtraBold"), local("JetBrainsMono-ExtraBold"), url("../../assets/fonts/JetBrainsMonoNL/JetBrainsMonoNL-ExtraBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 800;
  src: local("JetBrains Mono NL ExtraBold Italic"), local("JetBrainsMono-ExtraBoldItalic"), url("../../assets/fonts/JetBrainsMonoNL/JetBrainsMonoNL-ExtraBoldItalic.woff2") format("woff2");
  font-display: swap;
}
