---
import Main from "../layouts/Main.astro"
---

<Main title="404 Not Found" description="Missing Page">
    <h1>404 not found</h1>
    <p>Page not found, either moved or not available. Consider going back to the <a href="/">homepage</a>.</p>
</Main>