---
import Main from "../layouts/Main.astro"
---

<Main title="Homepage" description="ywk homepage">
    <h1>hello, youkwhd</h1>
    <p>
        I'm a Software Engineer, I reckon C as my language of choice, and Racket as one of my beloved languages.
    </p>
    <p>
        I adore the design of simple, easy to understand, and hackable softwares, I prefer to use and contribute to libre open-sourced softwares.
    </p>
    <h2>cars in favor</h2>
    <p>
        I live far away from my hometown, the only relieable way to travel back and forth to my hometown is via cars, this is one of the reason why I like cars, and music.
    </p>
    <p>
        Most are cruising with somewhat high speed, and the tension when trying to overtake other cars just rocks, considering that we are trying to overtake with medium to high traffic from the opposite direction.
    </p>

    <img src="/images/sumatera.png" loading="lazy" alt="" width={436} height={242}/>
    <br />
    <small>
        An <a href="https://en.wikipedia.org/wiki/Toyota_Innova" target="_blank" rel="noopener noreferrer">Innova</a> trying to overtake a motorcyle, also other cars.
    </small>
    <p>
        If you are intrested in this street race, so called. I'm sure that you can find some YouTube videos with the keyword <b>Lintas Sumatera</b>.
    </p>
    <p>
        &ndash; <a href="https://www.youtube.com/watch?v=NrxxZRJaxYc&t=443s" target="_blank" rel="noopener noreferrer">Here</a>, I'll do you a favor. Just so you know, the car that's used in the video is Daihatsu Rocky 1.0 Turbo, and the the car that's leading the run is an older generation of Innova.
    </p>
    <p>
        If the video didn't get skipped to 7:23, Please do so.
    </p>
    <p>
        I also love minibuses. These are services for traveling, they mostly operates in the nights. 2 of the most common ones:
    </p>
    <ul>
        <li>
            <a href="https://en.wikipedia.org/wiki/Toyota_HiAce">Toyota HiAce</a>
        </li>
        <li>
            <a href="https://en.wikipedia.org/wiki/Mitsubishi_Delica">Mitsubishi L300</a>
        </li>
    </ul>
    <h2>music within the roads</h2>
    <p>
        It is not considered a travel if there's no music on, especially the old ones. Within hundreds of songs that i've heard, the most I like is <a href="https://youtu.be/9iawLRB61Eo">Kaulah Segalanya</a> by <a href="https://www.discogs.com/artist/3609255-Ruth-Sahanaya">Ruth Sahanaya</a>. This song is by far the most nostalgic song that would make me attached to the roads again.
    </p>
    <p>
        Other hits published by the same singer:
    </p>
    <ul>
        <li>
            <a href="https://youtu.be/4aj8zEEEXYg">Keliru</a>
        </li>
        <li>
            <a href="https://youtu.be/GiGb9-PNRGA">Ingin Kumiliki</a>
        </li>
    </ul>
    <p>
        If you're an Indonesian, and does not know <a href="https://www.iwanfals.co.id/article/our-story/53-biografi-iwan-fals">Iwan Fals</a>, check em out.
    </p>
</Main>
