---
import Main from "layouts/Main.astro"
import { type Collection, collections } from "data/collections"

const { movies } = collections
---

<Main title="movie collections" description="collections">
    <h2>Movies</h2>
    <ul style={{ columnCount: 2 }} >
        {movies.map((movie: Collection) => (
            <li>
                <a href={movie.url} target="_blank" rel="noreferrer noopener">
                    {movie.name}
                </a>
            </li>
        ))}
    </ul>
    <small>7/18/2023:</small>
    <p>
        Just finished Made in Abyss Season 1, I really really recommend you to watch it. One of the best executed anime along with Samurai Champloo and Spirited Away.
    </p>
    <p>
        The opening, style, story, ending, eveything is great about this anime, highly recommend.
    </p>
</Main>
