---
import "styles/components/footer.styl"
---

<footer>
    <hr />

    <div class="footer--wrapper">
        <small>This site is licensed under the <a href="https://raw.githubusercontent.com/youkwhd/youkwhd.com/master/COPYING" target="_blank" rel="noopener noreferrer">GNU Affero General Public License</a>.</small>
    </div>
</footer>
