---
import "styles/components/footer.styl"
---

<footer>
    <hr />

    <div class="footer--wrapper">
        <small>This site is licensed under the <a href="https://raw.githubusercontent.com/youkwhd/youkwhd.com/master/LICENSE" target="_blank" rel="noopener noreferrer">BSD 3-Clause License</a>.</small>
    </div>
</footer>
