---
import "styles/components/footer.styl"
---

<footer>
    <div class="footer--left">
        <a href="#!">back to top</a>
    </div>
    <div class="footer--right">
        <a href="https://github.com/youkwhd/youkwhd.com" target="_blank" rel="noreferrer noopener">source code</a>
    </div>
</footer>