---
import "../styles/components/header.styl"
---

<header>
	<nav>
		<a href="/">home</a>
		<a href="/posts">posts</a>
		<a href="/collections">collections</a>
		<a href="/links">links</a>
	</nav>
</header>