---
import "../../styles/pages/projects.styl"
import Main from "../../layouts/Main.astro"

import SVGArrow from "../../svg/arrow-up-right.astro"
import SVGShare from "../../svg/share.astro"

import ListRoot from "../../components/List/List.astro"
import ListItem from "../../components/List/Item.astro"

const List = {
    Root: ListRoot,
    Item: ListItem,
}

type Repository = {
    name: string
    url: string
    description: string
    star: number,
    fork: number,
    language: string
    license: string
}

const repositories: Array<Repository> = [
    {
        name: "libtmdb",
        url: "https://github.com/youkwhd/libtmdb",
        description: "TMDb API wrapper",
        star: 4,
        fork: 1,
        language: "C",
        license: "GPLv2"
    },
    {
        name: "TUNE-CWE-315",
        url: "https://github.com/youkwhd/TUNE-CWE-315",
        description: "Local wi-fi exploit",
        star: 0,
        fork: 0,
        language: "CoffeeScript",
        license: "GPLv2"
    },
    {
        name: "worlde_solver",
        url: "https://github.com/youkwhd/wordle_solver",
        description: "Daily wordle solver",
        star: 0,
        fork: 0,
        language: "Python",
        license: "GPLv2"
    },
]


---

<Main title="projects" description="projects so far">
    <h1>projects</h1>
    <p>You can find other projects listed on my GitHub</p>
    <List.Root>
        {repositories.map((repo: Repository) => (
            <a href={`${repo.url}#readme`} target="_blank" class="anchor-no-decor">
                <List.Item class="list-project-item">
                    <div class="list-project-item--left">
                        <strong>
                            {repo.name}
                        </strong>
                        <div>
                            <span>
                                ⭐
                            </span>
                            <span>
                                {repo.star}
                            </span>
                        </div>
                        <div>
                            <SVGShare width="16px" />
                            <span>
                                {repo.fork}
                            </span>
                        </div>
                    </div>
                    <div class="list-project-item--right">
                        <SVGArrow width="14px" />
                    </div>
                </List.Item>
            </a>
        ))}
    </List.Root>
    <h2>quick explanation</h2>
    <h3>libtmdb</h3>
    <p>
        Fairly simple <a href="https://www.themoviedb.org/about" target="_blank" rel="noopener noreferrer">TMDb</a> API wrapper written in C and GPLv2 Licensed, a sort of "low level" API call with no built-in JSON Parser, thus why simple.
    </p>
    <h3>TUNE-CWE-315</h3>
    <p>
        Local wi-fi exploit made for <a href="https://servicedesk.telkomuniversity.ac.id/topics/faq-tune/" target="_blank" rel="noopener noreferrer">TUNE</a> that steals <a href="https://igracias.telkomuniversity.ac.id/" target="_blank" rel="noopener noreferrer">iGracias</a> credentials licensed GPLv2, though this no longer works (vuln patched).
    </p>
    <p>
        Later became an archive for the exploit.
    </p>
    <h3>worlde_solver</h3>
    <p>
        Yet another tool to solve your daily wordles but licensed GPLv2, both a library and a CLI program.
    </p>
</Main>