---
import Main from "../../layouts/Main.astro"
---

<Main title="projects" description="projects so far">
    <h1>projects</h1>
    <ul>
        <li>
            <p>libtmdb</p>
        </li>
    </ul>
</Main>