---
import Main from "../../../layouts/Main.astro"


---

<Main title="music collections" description="collections">
    <h1>banger certified playlist</h1>
    <h2>sped up</h2>
    <ul>
        <li>
            <a href="https://soundcloud.com/vellumane/el-muchacho-de-los-ojos-tristes">El Muchacho De Los Ojos Tristes</a>
        </li>
    </ul>
</Main>