---
import type { CollectionEntry } from "astro:content";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = CollectionEntry<"articles">["data"];
const { title, description } = Astro.props;
---

<html lang="en" id="!">
	<head>
		<Head title={"youkwhd - " + title.toLocaleLowerCase()} description={description} />
	</head>

	<body>
		<Header />
		<main>
            <slot />
		</main>
		<Footer />
	</body>
</html>
