body {
    font-family: sans-serif;
    font-size: 16px;
    max-width: 100ex;
    padding: 0 3em;
}

pre {
    overflow: auto;
}

p {
    text-align: justify;
}

li {
    padding: .5em 0;
}

li > p {
    margin: 0;
}

/* for unconsistent p tag */ 
ul > li > ul {
    padding-top: .5em;
}

/* standalone code */
code:not([class]) {
    padding: .25em;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    background-color: #f5f2f0;
    overflow: auto;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.no-padding {
    padding: 0;
}

@media (max-width: 500px) {
    body {
        padding: 0 1em;
    }
}

